##### Import Libraries

In [1]:
import pandas as pd

##### Load dataframe from 1_data_Acquisition output (data/RAW_2022_SAIPE_DATA.xlsx)

In [24]:
data_filepath = f'/Users/dillon/Desktop/portfolio/census_Poverty/data/RAW_2022_SAIPE_DATA.xlsx'
df = pd.read_excel(data_filepath)

##### Check dataframe once more

In [25]:
df.head()

,Table with column headers in rows 3 and 4,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28,Unnamed: 29
0,2022 Poverty and Median Household Income Estim...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Geographic Information,NaN,NaN,All Ages,NaN,NaN,NaN,NaN,NaN,Age 0-17,...,NaN,Median Household Income,NaN,NaN,Age 0-4,NaN,NaN,NaN,NaN,NaN
2,State FIPS Code,Postal Code,Name,"Poverty Estimate, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, All Ages",90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-17",...,90% CI Upper Bound,Median Household Income,90% CI Lower Bound,90% CI Upper Bound,"Poverty Estimate, Age 0-4",90% CI Lower Bound,90% CI Upper Bound,"Poverty Percent, Age 0-4",90% CI Lower Bound,90% CI Upper Bound
3,00,US,United States,40951625,40691315,41211935,12.6,12.5,12.7,11582950,...,15.7,74755,74607,74903,3141107,3093587,3188627,17.4,17.1,17.7
4,01,AL,Alabama,798469,780933,816005,16.2,15.8,16.6,237861,...,21.6,59703,58986,60420,68982,64247,73717,24.4,22.7,26.1

----
Here are the steps which I will be following in this data cleaning/pro-processing/validation stage:
##### 1 - Rename/fix headers.
- Headers are actually located in row 4, and I will combine them with additional header detail from row 3.
- Rename row 1, drop rows 2-4.
- Naming as follows:
    - Table with column headers in rows 3 and 4 -> STATE_FIPS_ID
    - Unnamed: 1 -> POSTAL_CODE
    - Unnamed: 2 -> REGION_NAME
    - Unnamed: 3 -> ALL_AGES_POVERTY_ESTIMATE
    - Unnamed: 4 -> ALL_AGES_90_CI_LOWER_BOUND
    - Unnamed: 5 -> ALL_AGES_90_CI_UPPER_BOUND
    - Unnamed: 6 -> ALL_AGES_POVERTY_PERCENT
    - Unnamed: 7 -> ALL_AGES_90_CI_LOWER_PERCENT
    - Unnamed: 8 -> ALL_AGES_90_CI_UPPER_PERCENT
    - Unnamed: 9 -> 0_17_POVERTY_ESTIMATE
    - Unnamed: 10 -> 0_17_90_CI_LOWER_BOUND
    - Unnamed: 11 -> 0_17_90_CI_UPPER_BOUND
    - Unnamed: 12 -> 0_17_POVERTY_PERCENT
    - Unnamed: 13 -> 0_17_90_CI_LOWER_PERCENT
    - Unnamed: 14 -> 0_17_90_CI_UPPER_PERCENT
    - Unnamed: 15 -> 5_17_POVERTY_ESTIMATE
    - Unnamed: 16 -> 5_17_90_CI_LOWER_BOUND
    - Unnamed: 17 -> 5_17_90_CI_UPPER_BOUND
    - Unnamed: 18 -> 5_17_POVERTY_PERCENT
    - Unnamed: 19 -> 5_17_90_CI_LOWER_PERCENT
    - Unnamed: 20 -> 5_17_90_CI_UPPER_PERCENT
    - Unnamed: 21 -> MEDIAN_HOUSEHOLD_INCOME
    - Unnamed: 22 -> MEDIAN_HOUSEHOLD_INCOME_90_CI_LOWER_BOUND
    - Unnamed: 23 -> MEDIAN_HOUSEHOLD_INCOME_90_CI_UPPER_BOUND
    - Unnamed: 24 -> 0_4_POVERTY_ESTIMATE
    - Unnamed: 25 -> 0_4_90_CI_LOWER_BOUND
    - Unnamed: 26 -> 0_4_90_CI_UPPER_BOUND
    - Unnamed: 27 -> 0_4_POVERTY_PERCENT
    - Unnamed: 28 -> 0_4_CI_LOWER_PERCENT
    - Unnamed: 29 -> 0_4_UPPER_PERCENT

In [26]:
new_headers = {
    'Table with column headers in rows 3 and 4': 'STATE_FIPS_ID',
    'Unnamed: 1': 'POSTAL_CODE',
    'Unnamed: 2': 'REGION_NAME',
    'Unnamed: 3': 'ALL_AGES_POVERTY_ESTIMATE',
    'Unnamed: 4': 'ALL_AGES_90_CI_LOWER_BOUND',
    'Unnamed: 5': 'ALL_AGES_90_CI_UPPER_BOUND',
    'Unnamed: 6': 'ALL_AGES_POVERTY_PERCENT',
    'Unnamed: 7': 'ALL_AGES_90_CI_LOWER_PERCENT',
    'Unnamed: 8': 'ALL_AGES_90_CI_UPPER_PERCENT',
    'Unnamed: 9': '0_17_POVERTY_ESTIMATE',
    'Unnamed: 10': '0_17_90_CI_LOWER_BOUND',
    'Unnamed: 11': '0_17_90_CI_UPPER_BOUND',
    'Unnamed: 12': '0_17_POVERTY_PERCENT',
    'Unnamed: 13': '0_17_90_CI_LOWER_PERCENT',
    'Unnamed: 14': '0_17_90_CI_UPPER_PERCENT',
    'Unnamed: 15': '5_17_POVERTY_ESTIMATE',
    'Unnamed: 16': '5_17_90_CI_LOWER_BOUND',
    'Unnamed: 17': '5_17_90_CI_UPPER_BOUND',
    'Unnamed: 18': '5_17_POVERTY_PERCENT',
    'Unnamed: 19': '5_17_90_CI_LOWER_PERCENT',
    'Unnamed: 20': '5_17_90_CI_UPPER_PERCENT',
    'Unnamed: 21': 'MEDIAN_HOUSEHOLD_INCOME',
    'Unnamed: 22': 'MEDIAN_HOUSEHOLD_INCOME_90_CI_LOWER_BOUND',
    'Unnamed: 23': 'MEDIAN_HOUSEHOLD_INCOME_90_CI_UPPER_BOUND',
    'Unnamed: 24': '0_4_POVERTY_ESTIMATE',
    'Unnamed: 25': '0_4_90_CI_LOWER_BOUND',
    'Unnamed: 26': '0_4_90_CI_UPPER_BOUND',
    'Unnamed: 27': '0_4_POVERTY_PERCENT',
    'Unnamed: 28': '0_4_CI_LOWER_PERCENT',
    'Unnamed: 29': '0_4_UPPER_PERCENT'
}

# Rename the headers based on the dictionary
df.columns = df.columns.map(new_headers)

# Drop rows 1 and 2
df = df.drop([0, 1, 2])

# Reset the index
df = df.reset_index(drop=True)

Double check result.

In [27]:
df.head()

,STATE_FIPS_ID,POSTAL_CODE,REGION_NAME,ALL_AGES_POVERTY_ESTIMATE,ALL_AGES_90_CI_LOWER_BOUND,ALL_AGES_90_CI_UPPER_BOUND,ALL_AGES_POVERTY_PERCENT,ALL_AGES_90_CI_LOWER_PERCENT,ALL_AGES_90_CI_UPPER_PERCENT,0_17_POVERTY_ESTIMATE,...,5_17_90_CI_UPPER_PERCENT,MEDIAN_HOUSEHOLD_INCOME,MEDIAN_HOUSEHOLD_INCOME_90_CI_LOWER_BOUND,MEDIAN_HOUSEHOLD_INCOME_90_CI_UPPER_BOUND,0_4_POVERTY_ESTIMATE,0_4_90_CI_LOWER_BOUND,0_4_90_CI_UPPER_BOUND,0_4_POVERTY_PERCENT,0_4_CI_LOWER_PERCENT,0_4_UPPER_PERCENT
0,00,US,United States,40951625,40691315,41211935,12.6,12.5,12.7,11582950,...,15.7,74755,74607,74903,3141107,3093587,3188627,17.4,17.1,17.7
1,01,AL,Alabama,798469,780933,816005,16.2,15.8,16.6,237861,...,21.6,59703,58986,60420,68982,64247,73717,24.4,22.7,26.1
2,02,AK,Alaska,77305,73349,81261,10.8,10.2,11.4,23113,...,13.3,88072,85702,90442,7304,6283,8325,16.1,13.8,18.4
3,04,AZ,Arizona,904567,882773,926361,12.5,12.2,12.8,250329,...,15.7,74355,73441,75269,69229,63677,74781,18,16.6,19.4
4,05,AR,Arkansas,481650,467218,496082,16.3,15.8,16.8,144789,...,20.8,55505,54535,56475,42721,39225,46217,24.7,22.7,26.7

----
##### 2 - Validate any abnormal data.

In [28]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 30 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   STATE_FIPS_ID                              52 non-null     object
 1   POSTAL_CODE                                52 non-null     object
 2   REGION_NAME                                52 non-null     object
 3   ALL_AGES_POVERTY_ESTIMATE                  52 non-null     object
 4   ALL_AGES_90_CI_LOWER_BOUND                 52 non-null     object
 5   ALL_AGES_90_CI_UPPER_BOUND                 52 non-null     object
 6   ALL_AGES_POVERTY_PERCENT                   52 non-null     object
 7   ALL_AGES_90_CI_LOWER_PERCENT               52 non-null     object
 8   ALL_AGES_90_CI_UPPER_PERCENT               52 non-null     object
 9   0_17_POVERTY_ESTIMATE                      52 non-null     object
 10  0_17_90_CI_LOWER_BOUND                     52 non-null     object
 11  0_17_90_CI_UPPER_BOUND                     52 non-null     object
 12  0_17_POVERTY_PERCENT                       52 non-null     object
 13  0_17_90_CI_LOWER_PERCENT                   52 non-null     object
 14  0_17_90_CI_UPPER_PERCENT                   52 non-null     object
 15  5_17_POVERTY_ESTIMATE                      52 non-null     object
 16  5_17_90_CI_LOWER_BOUND                     52 non-null     object
 17  5_17_90_CI_UPPER_BOUND                     52 non-null     object
 18  5_17_POVERTY_PERCENT                       52 non-null     object
 19  5_17_90_CI_LOWER_PERCENT                   52 non-null     object
 20  5_17_90_CI_UPPER_PERCENT                   52 non-null     object
 21  MEDIAN_HOUSEHOLD_INCOME                    52 non-null     object
 22  MEDIAN_HOUSEHOLD_INCOME_90_CI_LOWER_BOUND  52 non-null     object
 23  MEDIAN_HOUSEHOLD_INCOME_90_CI_UPPER_BOUND  52 non-null     object
 24  0_4_POVERTY_ESTIMATE                       52 non-null     object
 25  0_4_90_CI_LOWER_BOUND                      52 non-null     object
 26  0_4_90_CI_UPPER_BOUND                      52 non-null     object
 27  0_4_POVERTY_PERCENT                        52 non-null     object
 28  0_4_CI_LOWER_PERCENT                       52 non-null     object
 29  0_4_UPPER_PERCENT                          52 non-null     object
dtypes: object(30)
memory usage: 12.3+ KB

Data is all present via 52 rows including one National-level row.

----
3. Send data back to Excel (census_Poverty/data/CLEANED_2022_SAIPE_DATA.xlsx)

In [30]:
out_filepath = f'/Users/dillon/Desktop/portfolio/portfolio/census_Poverty/data/CLEANED_2022_SAIPE_DATA.xlsx'
df.to_excel(out_filepath, index=False)