##### Import Libraries

In [2]:
import pandas as pd

##### Load dataframe with clean data

In [3]:
clean_data_filepath = f'/Users/dillon/Desktop/portfolio/portfolio/census_Poverty/data/CLEANED_2022_SAIPE_DATA.xlsx'

df = pd.read_excel(clean_data_filepath)

##### Check data

In [4]:
df.head()

,STATE_FIPS_ID,POSTAL_CODE,REGION_NAME,ALL_AGES_POVERTY_ESTIMATE,ALL_AGES_90_CI_LOWER_BOUND,ALL_AGES_90_CI_UPPER_BOUND,ALL_AGES_POVERTY_PERCENT,ALL_AGES_90_CI_LOWER_PERCENT,ALL_AGES_90_CI_UPPER_PERCENT,0_17_POVERTY_ESTIMATE,...,5_17_90_CI_UPPER_PERCENT,MEDIAN_HOUSEHOLD_INCOME,MEDIAN_HOUSEHOLD_INCOME_90_CI_LOWER_BOUND,MEDIAN_HOUSEHOLD_INCOME_90_CI_UPPER_BOUND,0_4_POVERTY_ESTIMATE,0_4_90_CI_LOWER_BOUND,0_4_90_CI_UPPER_BOUND,0_4_POVERTY_PERCENT,0_4_CI_LOWER_PERCENT,0_4_UPPER_PERCENT
0,0,US,United States,40951625,40691315,41211935,12.6,12.5,12.7,11582950,...,15.7,74755,74607,74903,3141107,3093587,3188627,17.4,17.1,17.7
1,1,AL,Alabama,798469,780933,816005,16.2,15.8,16.6,237861,...,21.6,59703,58986,60420,68982,64247,73717,24.4,22.7,26.1
2,2,AK,Alaska,77305,73349,81261,10.8,10.2,11.4,23113,...,13.3,88072,85702,90442,7304,6283,8325,16.1,13.8,18.4
3,4,AZ,Arizona,904567,882773,926361,12.5,12.2,12.8,250329,...,15.7,74355,73441,75269,69229,63677,74781,18.0,16.6,19.4
4,5,AR,Arkansas,481650,467218,496082,16.3,15.8,16.8,144789,...,20.8,55505,54535,56475,42721,39225,46217,24.7,22.7,26.7

----
#### 1 - National level data EDA:
- Filter dataframe instance to only national level (where POSTAL_CODE = 'US')

In [5]:
df_national = df[df['POSTAL_CODE'] == 'US']

In [6]:
df_national.head()

,STATE_FIPS_ID,POSTAL_CODE,REGION_NAME,ALL_AGES_POVERTY_ESTIMATE,ALL_AGES_90_CI_LOWER_BOUND,ALL_AGES_90_CI_UPPER_BOUND,ALL_AGES_POVERTY_PERCENT,ALL_AGES_90_CI_LOWER_PERCENT,ALL_AGES_90_CI_UPPER_PERCENT,0_17_POVERTY_ESTIMATE,...,5_17_90_CI_UPPER_PERCENT,MEDIAN_HOUSEHOLD_INCOME,MEDIAN_HOUSEHOLD_INCOME_90_CI_LOWER_BOUND,MEDIAN_HOUSEHOLD_INCOME_90_CI_UPPER_BOUND,0_4_POVERTY_ESTIMATE,0_4_90_CI_LOWER_BOUND,0_4_90_CI_UPPER_BOUND,0_4_POVERTY_PERCENT,0_4_CI_LOWER_PERCENT,0_4_UPPER_PERCENT
0,0,US,United States,40951625,40691315,41211935,12.6,12.5,12.7,11582950,...,15.7,74755,74607,74903,3141107,3093587,3188627,17.4,17.1,17.7